{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "navbar.html" .}}

<div class="container">
    <div class="col-md-9">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7">
        <p>
            <input type="button" class="btn btn-success" name="album" size="40" id="albumId" value="New album">

        </p>
        <hr>
          <div class="row">
              <div class="col-md-6">
                  <table id='result' class="table"></table>
              </div>
          </div>
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>                

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}


<script>

   function updateAlbums(data) {
       var trHTML = '<thead><tr><th>' +
               'id' + '</th><th>' +
               'name' + '</th><th>' +
               'username'  + '</th><th>' +
               'Delete' + '</th></thead>'

       $.each(data, function (i, item) {
           trHTML += '<tbody><tr><td class="nr">' +
           '<span contenteditable>' + item.id + '</span>' +
           '</td><td>' +
           '<span contenteditable>' + item.name + '</span>' +
           '</td><td>' +
           '<span contenteditable>' + item.username + '</span>' +
           '</td><td>' +
           '<input type="button" class="btn btn-danger" value="Delete">' +
           '<td></tr></tbody>';
       });

       $("#result").empty().append(trHTML);
   }

   function getAlbums() {
       $.ajax({
           url: '/api/albums/',
           type: 'GET',
           success: function(data){
               console.log('get album success')
               updateAlbums(data);

           }
       })
   }

  // Create Album
  //
  $( "#albumId" ).click(function() {

      $.ajax({
          url: '/api/albums',
          type: 'POST',
          success: function(data){
              console.log('new album success')
              getAlbums();

              $.ajax({
              ///api/albums/:id/image/:fid
                  url: '/api/albums/' + data.id + '/image/B',
                  type: 'PUT',
                  success: function(data2){
                      console.log('add photo success')

                  }
              })


          }
      })
  });

    // Init
   getAlbums();
</script>