{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "navbar.html" .}}

<div class="container">
    <div class="col-md-9">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7">
        <p>
            <input type="file" class="btn btn-success" name="filename" size="40" id="filenameId">
        </p>
        <hr>
          <div class="row">
              <div class="col-md-6">
                  <table id='result' class="table"></table>
              </div>
          </div>
        <br>
        <hr>

          <div class="row">
              <div class="col-md-6">
                  <div class="container">                    
                    <div class="row" id='result2'>              

                    </div>
                  </div>    
              </div>    
          </div>
         <br>

      </div>
    </div>
  </div>
</div>                

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}


<script>

  var url = $.url(window.location.href);
  var albumId = url.segment(-1);


   function updateImages(data) {
       var trHTML = '<thead><tr><th>' +
               'id' + '</th><th>' +
               'name' + '</th><th>' +
               'username'  + '</th><th>' +
               'imageId'  + '</th><th>' +
               'Delete' + '</th></thead>'

       $.each(data.images, function (i, item) {
           trHTML += '<tbody><tr><td class="nr">' +
           '<span>' + '<a href="/album/' + data.id + '">' + data.id + '</a>' + '</span>' +
           '</td><td>' +
           '<span contenteditable>' + data.name + '</span>' +
           '</td><td>' +
           '<span contenteditable>' + data.username + '</span>' +
           '</td><td>' +
           '<span>' + '<a href="/api/images/' + item + '">' + item + '</a>' + '</span>' +
           '</td><td>' +
           '<input type="button" class="btn btn-danger" value="Delete">' +
           '<td></tr></tbody>';
       });

       $("#result").empty().append(trHTML);
   }

   function updateImagesGallery(data) {
       var trHTML = '';

       $.each(data.images, function (i, item) {
           trHTML += 
            '<div class="col-md-2 col-sm-2 col-xs-4">' +
            '<a href="/api/images/' + item + '" class="thumbnail">' +            
            '<img src="/api/images/' + item + '" alt="image" style="width:50px;height:50px">' +
            '</a>' +
            '</div>';
       });

       $("#result2").empty().append(trHTML);
   }





   function getImages() {
       $.ajax({
           url: '/api/albums/' + albumId,
           type: 'GET',
           success: function(data){
               console.log('get album success')
               updateImages(data);
               updateImagesGallery(data);
           }
       })
   }


  // DELETE ALBUM IMAGE
  //
  $('#result').on('click', '.btn-danger', function () {
      var currentRow = $(this).closest("tr");
      //do something with values in td's
      var id = currentRow.find("td").eq(0).text();
      var name = currentRow.find("td").eq(1).text();
      var username = currentRow.find("td").eq(2).text();
      var imageId = currentRow.find("td").eq(3).text();

      var url = "/api/albums/" + id + "/image/" + imageId;

      $.ajax({
          url: url,
          type: 'DELETE',
          success: function(result) {
              // Do something with the result
              console.log('image id=' + imageId + ' deleted');
              getImages();
          }
      });
  });



  // UPDATE
  //
  function send() {

    var data = new FormData();
    $.each($('#filenameId')[0].files, function(i, file) {
        data.append('file-'+i, file);
    });

    $.ajax({
        url: '/api/images',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
        success: function(data){
            console.log('upload user image success')

            var userId = $('#userId').text();
            var fid = data.fid1;

            // PUT     /api/users/:id/avatar/:fid              Users.UpdateAvatar
            $.ajax({
                url: '/api/albums/' + albumId + '/image/' + fid,
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'PUT',
                success: function(data2){
                    console.log('update album photo success')
                    location.reload();
                }
            });
        }
    })
  }

  $('#filenameId').on('change', function (event) {
    send();    
  });

  // Init
  getImages()


</script>