<style>
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
</style>


{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "navbar.html" .}}


<!--form action="/api/login" method="POST" id="searchForm"-->
<form>
  <div class="container">
      <h3>Please Log In, or <a href="#">Sign Up</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
        </div>
      </div>


    <div class="row">
      <div class="col-md-12">
        <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <input type="name" class="form-control" id="username1" placeholder="Username" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password1" placeholder="Password" name="password">
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-default" id="mySubmit">Log In</button>
      </div>
      <div class="col-md-6">
        <a class="pull-right" href="#">Forgot password?</a>
      </div>
    </div>  

  </div>
</form>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}

<script>

// Touch Enter
document.onkeydown=function(){
    if(window.event.keyCode=='13'){
        submitForm();
    }
}

// Attach a submit handler to the form
$( "#mySubmit" ).click(function() {
  submitForm();
});

function submitForm() {
  // Get some values from elements on the page:
  var url = "/api/login"
  var username = $("#username1").val();
  var password = $("#password1").val();

  $.ajax({
        url: url,
        type: 'POST',
        data: { username: username, password: password},
        //contentType: "application/json",
        success: function(result) {
            // Do something with the result
            console.log(result);
            window.location.replace("/users/me");
        }
    });
  }
</script>