{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "navbar.html" .}}

<!--header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Users login</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>
<br-->

<form action="/api/login" method="POST" id="searchForm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="name" class="form-control" id="exampleInputUsername1" placeholder="Enter username" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputSignature1" placeholder="Signature" name="password">
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <table id='result' class="table"><table>  
      </div>
    </div>
  </div>
</form>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}


<script>
// Attach a submit handler to the form
$( "#searchForm" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    username = $form.find( "input[name='username']" ).val(),
    password = $form.find( "input[name='password']" ).val(),
    url = $form.attr( "action" );
 
  // Send the data using post
  var posting = $.post( url, { username: username, password: password } );
 
  // Put the results in a div
  posting.done(function( data ) {

    var trHTML = '<thead><tr><th>' + 
                  'username' + '</th><th>' + 
                  'firstname'  + '</th><th>' + 
                  'lastname' + '</th><th>' + 
                  'email' + '</th><th>' + 
                  'id' + '</th><th>' + 
                  'twitteruid' + '</th><th>' + 
                  'facebookuid' + '</th><th>' + 
                  'token' + '</th></thead>'


      trHTML += '<tbody><tr><td>' +
                  data.username + '</td><td>' + 
                  data.firstname + '</td><td>' + 
                  data.lastname  + '</td><td>' + 
                  data.email  + '</td><td>' + 
                  data.id  + '</td><td>' + 
                  data.twitteruid  + '</td><td>' + 
                  data.facebookuid  + '</td><td>' + 
                  data.token  + '<td></tr></tbody>';

    $( "#result" ).empty().append(trHTML);

  });
});
</script>
