{{set . "title" "Home"}}
{{template "header.html" .}}
{{template "navbar.html" .}}

<!--header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Users Management</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>
<br-->

<form>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">List</a></li>
          <li role="presentation"><a href="/users/create">Create</a></li>
        </ul>
      </div>
    </div>
    <br>
    <!--div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="name" class="form-control" id="exampleInputUsername1" placeholder="Enter username" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="exampleInputSignature1" placeholder="Signature" name="password">
          </div>
        </form>
      </div>
    </div-->

    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-default" id="searchForm">Submit</button>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <table id='result' class="table"></table>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div id="todelete"></div>

{{template "footer.html" .}}

<script>

// DELETE
//
$('#result').on('click', '.btn-danger', function () {
    var currentRow = $(this).closest("tr");
    //do something with values in td's
    var username = currentRow.find("td").eq(0).text();
    var firstname = currentRow.find("td").eq(1).text();
    var lastname = currentRow.find("td").eq(2).text();
    var email = currentRow.find("td").eq(3).text();
    var id = currentRow.find("td").eq(4).text();
    var twitteruid = currentRow.find("td").eq(5).text();
    var facebookuid = currentRow.find("td").eq(6).text();
    var avatar = currentRow.find("td").eq(7).text();

    var user = {
      //username : username,
      //firstname: firstname, 
      //lastname: lastname,
      //email: email,
      id: id,
      //twitteruid: twitteruid,
      //facebookuid: facebookuid
    }
    //and so on
    console.log(user);

    var url = "/api/users/" + id

    $.ajax({
        url: url,
        type: 'DELETE',
        //data: user,
        //contentType: "application/json",
        success: function(result) {
            // Do something with the result
            console.log('user id=' + id + ' deleted');
        }
    });
});

// UPDATE
//
$('#result').on('click', '.btn-warning', function () {
    var currentRow = $(this).closest("tr");
    //do something with values in td's
    var username = currentRow.find("td").eq(0).text();
    var firstname = currentRow.find("td").eq(1).text();
    var lastname = currentRow.find("td").eq(2).text();
    var email = currentRow.find("td").eq(3).text();
    var id = currentRow.find("td").eq(4).text();
    var twitteruid = currentRow.find("td").eq(5).text();
    var facebookuid = currentRow.find("td").eq(6).text();
    var avatar = currentRow.find("td").eq(7).text();

    var user = {
      username : username,
      firstname: firstname, 
      lastname: lastname,
      email: email,
      id: id,
      twitteruid: twitteruid,
      facebookuid: facebookuid,
      avatar: avatar
    }
    //and so on
    console.log(user);

    var url = "/api/users/" + id

    $.ajax({
        url: url,
        type: 'PUT',
        data: JSON.stringify(user),
        contentType: "application/json",
        success: function(result) {
            // Do something with the result
            console.log('user id=' + id + ' deleted');
        }
    });

});



// Attach a submit handler to the form
$( "#searchForm" ).click(function() {

  // Get some values from elements on the page:
  var url = "/api/users"
 
  // Send the data using post
  var posting = $.get( url, {} );
 
  // Put the results in a div
  posting.done(function( data ) {

    var trHTML = '<thead><tr><th>' + 
                  'username' + '</th><th>' + 
                  'firstname'  + '</th><th>' + 
                  'lastname' + '</th><th>' + 
                  'email' + '</th><th>' + 
                  'id&nbsp&nbsp&nbsp&nbsp&nbsp' + '</th><th>' + 
                  'twitteruid' + '</th><th>' + 
                  'facebookuid' + '</th><th>' + 
                  'avatar' + '</th><th>' + 
                  'Update' + '</th><th>' +
                  'Delete' + '</th></thead>'

     $.each(data, function (i, item) {
        trHTML += '<tbody><tr><td class="nr">' +
                    '<span contenteditable>' + item.username + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.firstname + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.lastname + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.email + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.id + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.twitteruid + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.facebookuid + '</span>' +
                    '</td><td>' + 
                    '<span contenteditable>' + item.avatar + '</span>' +
                    '</td><td>' + 
                    '<input type="button" class="btn btn-warning" value="Update">' + 
                    '</td><td>' + 
                    '<input type="button" class="btn btn-danger" value="Delete">' + 
                    '<td></tr></tbody>';
      });

      $("#result").empty().append(trHTML);

  });
});
</script>
